#game {
	width: 300px;
	margin: 0 auto;
  }
  
  table {
	border-collapse: collapse;
  }
  
  td {
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	font-size: 48px;
	border: 1px solid black;
	cursor: pointer;
	  
  }